* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.left-col {
    width: 20%;
    padding: 20px;
    background-color: #FBFBFB;
    border-right: 1px solid #e0e0e0;
}

.categories {
    list-style: none;
    margin-left: 12px;
}

.category-title {
    font-family: Cera Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;
    color: #3D3D3D;

}

.category {
    font-family: Cera Pro;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #333;
    left: 12px;
    
}

.category.active {
    color: #4CAF50;
    font-weight: bold;
    left: 12px;
    font-size: 15px;
}

.super-sale {
    margin-top: 20px;
    text-align: center;
    background-color:#c7e1cd;
}

.super-sale h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.super-sale p {
    color: #777;
    margin-bottom: 10px;
    background-color: #8fbd35;
}


.super-sale img {
    width: 100%;
    max-width: 200px;

   
    
}

.main-content {
    width: 80%;
    padding: 20px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-options {
    list-style: none;
    display: flex;
}

.filter-option {
    margin-right: 20px;
    color: #333;
    cursor: pointer;
}

.filter-option.active {
    color: #4CAF50;
    font-weight: bold;
    border-bottom: 2px solid #4CAF50;
}

.sort-by {
    color: #777;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: #a54444;
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
}
.inform{
    background-color: white;
}

.product-card h4 {
   font-size: 1em;
    color: #333;
}

.product-card p {
    color: #4CAF50;
    font-weight: bold;
}
