@font-face {
    font-family: "monserrat_black";
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: "monserrat_bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "monserrat_light";
    src: url(../fonts/Montserrat-Light.ttf);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"monserrat_light";
}

.conteinar {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.left{
    display: inline-block;
     width: 20%;
     vertical-align: top;
        }
   
  
.right{
    display: inline-block;
     width: 75%;
    margin-left: 50px;
    
   

}
.Categories{
    
   height: 774px;
   background-color: rgb(222, 222, 222);
   
    
    
}
.left .Categories li{
   list-style: none;
   padding-left: 12px;
   padding-top: 30px;
   

}
#green{
    color: #46A358;
    ;
}

.sale-banner {
    text-align: center;
    padding: 20px;
    background-color: #e0ffe0;
    margin-bottom: 20px;
    margin-top: 280px;
}
.sale-banner h2 {
    color: green;
}
.sale-banner img{
    width: 100%;
}
.header{
    margin-bottom: 31px;
    
}
.header .menu{
    display: inline-block;
}
 .header .menu_second{
        display: inline-block;
        margin-left: 300px;
}
.header li{
    display: inline-block;
    padding-right: 40px;
    font-family: "monserrat_light";
    
}
.header p{
    display: inline-block;
    
    

}
.card img{
    max-width: 100%;
    height: auto;
    
}
.conteinar_cards{
    width: 100%;


}
.card{
    display: inline-block;
    width: 30%;
    margin: 1%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 12px;
    margin-bottom: 30px;
    
}
.card_price{
    background-color: white;
}
.card_price h3{
font-family: Cera Pro;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: left;
color: #3D3D3D;
padding-top: 12px;
font-family: "monserrat_bold";
}
.card_price p{
font-family: Cera Pro;
font-size: 18px;
font-weight: 700;
line-height: 16px;
text-align: left;
color: #46A358;
padding-top: 6px
;

}
.Sale h1{
      text-align: center;
      
}
.Sale h2{
    padding-bottom: 12px;
    text-align: center;
   
}
.Sale img{
    display: block;
}
.card .card_img{
    border: 1px solid rgb(182, 181, 181);
 
}
#all_plants{
color: #46A358;
text-decoration: underline;
}