
@font-face {
    font-family: "monserrat_black";
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: "monserrat_bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "monserrat_light";
    src: url(../fonts/Montserrat-Light.ttf);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "monserrat_light";
}

body {
    background-color:white;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 25%;
    margin-top: 32px;
    padding: 20px;
    height: 1197px;
    background-color:#FBFBFB;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 15px;
    font-family:"monserrat_black";
    font-weight: 400;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom:18px;

}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 400;
}
#House_Plants{
    color: #1e7a42;
    font-weight: 700;
}

.sale-banner {
    margin-top: 397px;
    padding: 20px;
    background-color: #d4f4dd;
    text-align: center;
    
}
.sale-banner img{
        max-width: 100%;
        height: auto;
        background-color:#d4f4dd ;
}
 
.sale-banner h2 {
    font-size: 24px;
    color: #1e7a42;
}

.sale-banner p {
    font-size: 18px;
    color: #1e7a42;
}

.main-content {
    width: 75%;
    height: 1190px;
    padding: 20px;
}

.filters {
    display: flex;
    justify-content:left;
    align-items: center;
    margin-bottom: 30px;
    
}

.filters a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    margin-right: 40px;
}

#active {
    font-weight: bold;
    color: #1e7a42;
   text-decoration: underline ;
}

.sort-by {
    display: flex;
    align-items: center;
    margin-left: 350px;
}

.sort-by label {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;

}

.sort-by select {
    padding: 5px;
    font-size: 15px;
    border: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background-color: white;
    text-align:left;
    margin-bottom: 50px;
}

.product img {
    max-width: 100%;
    height: auto;
    background-color:#FBFBFB ;}
   

.product h3 {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "monserrat_light";
}

.product p {
    font-size: 18px;
    color:#46A358;
    font-family: "monserrat_bold";
    
}

.navigation {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.navigation .page {
    text-decoration: none;
    color: #333;
    font-size: 18px;
   margin-bottom: 50px;
   margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.navigation .page.active,
.navigation .page:hover {
    background-color: #1e7a42;
    color: #fff;
}
